*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.clear{
  clear: both;
}
a{
    text-decoration: none;
    
 }
body{
  direction: rtl;
  font-family:'Times New Roman', Times, serif;
  background-color: #c0c0c0;
}
header{
   background-image: url('../img/photo-1581309638082-877cb8132535.jpg') ;
   height: 600px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 } 
header .topnav{
  height: 60px;
  background-color: #a04613;
  position: fixed;
  width: 100%;
  top:0;
 left: 0;
 padding: 0 15px;
 }
.topnav .logo{
    float: left;
    width: 30%; 
    left: 20px;
}
.topnav .mainnav{
    float: left;
    width: 70%;
    text-align: right;
}
.img{
  width :200px ;
  height :60px;
}
.mainnav .navitem{
  color: #fff;
  margin-left: 30px;
  display: inline-block;
  height: 60px;
  padding: 17px 10px;
}
.mainnav .active{
  background-color: #fff;
  color: #a04613;
}
.mainnav, .navitem:hover{
  color: #000;
}

.head{
  padding-top: 200px;
  position: relative;
}
.sitetitle{
  position: absolute;
  color:#a04613 ;
  font-size: 30px;
  width: 30%;
  padding: 30px;
   top: 150px; 
}
h2 {
  margin: auto;
  font-size: 40px;
  text-decoration: underline #a04613;
}
h4{
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: #a04613;
}
h3{
  margin: auto;
  font-size: 30px;
  line-height: 1.5;
  color: #000;
}
.container{
margin: auto;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
#boxes{
  margin-top: 2%;
  color: #184f68;
  text-align: center;
}
.images{
  width: 300px;
  height: 100px;
}
.images:hover{
  opacity: .7;
}
#boxes .box1,.box2,.box3 {
  width: 31.33%;
  height: 350px;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #75b4bf;
  border-bottom: 7px solid #75b4bf;
  /* margin: 10px; */
}
.box2{
  margin: 0 1% 0 1%;
} 
.b1{
  margin-right: 10%;
  float: right;
  width: 50%;
  height: 100px;
}
.im{
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 150px;
  margin-left: 2%;
  border: 2px solid #a04613;
}
.b2{
  float: right;
  width: 50%;
  height: 100px;
}
.h2{
  font-size: 35px;
  color: #184f68;
  text-align: center;
} 
p{
  margin-left: 10%;
  font-size: 25px;
  text-indent: 10px;
  line-height: 1.5;
  color: #000;
}
.map{
  width: 100%;
  height: 300px;
}
.iframe{
  width: 100%;
  height: 200px;;
}
.over{
  width: 100%;
  float: left;
  height: 300px;
}
.mm{
  border-radius: 50px;
 
}
.over{
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
.pop{
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;

}
.pop2{
  height: 400px;
  padding: 10px;
  border-bottom: 7px solid #75b4bf;
}
.prag{
  font-size: 25px;
  font-family: 'Arial';
  text-align: center;
  padding: 10px;

}
.contact {
  margin-top: 25%;
  background-image: url('../img/contactus-1.jpg');
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 100%;
}
h5{
  text-align: center;
  font-size: x-large;
  line-height: 2.5;
}
.prag1{
  text-align: center;
  font-size: x-large;
  line-height: 2.5;
  padding-right: 150px;

 }
 .rag{
   height: 400px;
   position: relative;
 }
.social{
  margin-top: 25%;
  text-align: center;
}
.social .socialicon{
  font-size: 22px;
  margin-left: 7px;
} *
.my-icon{
  font-size: 60px;
  color: #a04613;
}
#copyright{
  background-color: #868686;
   color: #fff;
  text-transform: capitalize;
   text-align: center;
  line-height: 3;
  font-size: 12px;
  font-family: 'Arial';
} 